html, body {
   height: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-items: center;
    flex-direction: column;
}

.background {
    height: 100vh;
    width: 100%;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.title {
    color: floralwhite;
    text-align: center;
    font-family: "Russo One", serif;

}

.rectangle {
    background-color: aliceblue;
    height: 500px;
    width: 30%;
    border: thick solid grey;
    margin: 0 auto;
}

.controls {
    width: 10%;
    margin: 1% auto;
}

.cube {
    background-color: yellow;
    height: 30px;
    width: 30px;
    opacity: 0;
    margin: auto;
    position: relative;
}
